{
  "presets": [
    "es2015",
    "stage-0", "react"],
  "plugins": [
    "react-hot-loader/babel",
    "transform-decorators-legacy",
    ["module-resolver", {
      "root": ["./src"],
      "alias": {
        "@consts": "./src/consts",
        "@containers": "./src/containers",
        "@components": "./src/components",
        "@modules": "./src/modules",
        "@helpers": "./src/helpers",
        "@hocs": "./src/hocs",
        "@config": "./src/config",
        "@core": "./src/core",
        "@routes": "./src/routes",
        "@propTypes": "./src/propTypes",
        "@images": "./src/assets/images",
        "underscore": "./src/lodash"
      }
    }]
  ],
}
